
@import "vars";

/*==========  Desktop First  ==========*/

// ≥1200px
@include media-breakpoint-down(lg) {
	
}

// ≥992px
@include media-breakpoint-down(md) {
  .hamburger {
    display: block;
  }    

  .header {
    padding: 5px 0;

    &__top {
      margin-bottom: 0;
    }
  }

  .footer {
    text-align: center;

    &__content {
      flex-direction: column;

      & > * {
          margin: 0 0 20px 0 !important;            
      }
    }
  }

	.main-menu {
    display: none;
    background-color: $blue;
    position: fixed;
    top: 62px;
    left: 0;
    right: 0;
    text-align: left;
    margin-left: 0;
    z-index: 98;
    padding: 10px 0;

		ul {
			display: block;
			height: auto;
      padding: 0;
      margin: 0;

			li {
        margin: 0 0 5px;

        &:last-child {
          margin: 0;
        }
			}
		}
  }    

  .s-sfera {
    .sfera {
      margin-bottom: 25px;
    }
  }

  .s-offers {
    .offer {
      margin-bottom: 25px;
    }
  }

  .s-thanks {
    &__img {
      display: none;
    }
  }

  .s {
    
  }
}

// ≥768px
@include media-breakpoint-down(sm) {  

  .form {
    &--horizontal {
      .form {
        &__content {
          flex-direction: column;
          max-width: 500px;
        } 
        
        &__info {
          max-width: 500px;
        }
      }

      .input-div {
        margin-right: 0;
      }  
    }

    .input-div, .button {
      width: 100%;
    }
  }

  .logo {
    max-width: 200px;
  }

  .header {
    .grow {
      display: block;
    }
  }

  .section {
    &-title {
      font-size: 24px;
      margin-bottom: 30px;
    }      
  }

  .s-reviews {
    .carousel-reviews {
      padding: 0;
    }
    .review {
      margin: 10px 10px 20px;
      padding: 20px 10px;
      &__img {
        margin-bottom: 10px;
      }
    }
  }
}

// ≥576px
@include media-breakpoint-down(xs) {
  .call-me {
    display: flex;
  }

  .owl-carousel {
    .owl {
      &-prev {
        background-image: url("../img/arrow-left-min.png") !important;
      }
      &-next {
        background-image: url("../img/arrow-right-min.png") !important;
      }
    }
  }

  .s-account {
    &__content {
      display: none;
    }
    .carousel-account {
      display: block;
      padding: 0 30px;
    }
    .account {
      padding: 70px 10px 15px;
      min-height: 180px;
      margin: 0 10px 20px;
      &__img {
        top: -90px;
      }
      &__num {
        font-size: 36px;
      }
      &__text {
        font-size: 14px;
      }
    }
  }

  .s-trust {
    .carousel-marka {
      padding: 0 35px;
    }
  }

  .s-offers {
    .offer {
      margin: 0 -15px 20px;
      padding: 20px 5px;
      .ellips {
        top: -110px;
        left: -60px;
      }
      &__title {
        font-size: 18px;
        margin-left: 15px;
      }

      table {
        margin-top: 40px;
        th {
          font-size: 12px;
          letter-spacing: -0.3px;
        }
        td {
          font-size: 12px;
        }
        td.accent {
          font-size: 12px;
        }
        td.tdmin {
          font-size: 10px;
        }
      }

      &__value {
        flex-direction: column;
        &__title {
          margin-bottom: 15px;
        }
      }
    }
  }

  .s-compare {

    table {
      // margin: 0 -15px;
      th {
        font-size: 14px;
        padding: 0 0 0 5px;
      }
      td {
        font-size: 12px;
        padding: 8px 0;
      }
      .td-bold {
        font-size: 12px;
      }
    }
  }

  .s-question {
    &__text {
      font-size: 18px;
    }

    .form {
      &__input {
        flex-direction: column;
      }
    }
  }

  .s-contact {
    .contact {
      flex-direction: column;
      &__phone {
        margin-bottom: 20px;
      }
    }
  }

  .s {
    &-thanks {
      padding: 150px 0 50px;
      
      &__title {
        font-size: 30px;
      }

      &__text {
        font-size: 16px;
        margin-bottom: 40px;
      }
    }
  }

  .remodal {
    padding: 20px 10px;
  }

  .politika {
    &__title {
      margin-bottom: 15px;
    }
    &__text {
      margin-bottom: 10px;
    }
  }
}


/*==========  Mobile First  ==========*/

// ≤576px
@include media-breakpoint-up(sm) {
  
}

// ≤768px
@include media-breakpoint-up(md) {

}

// ≤992px
@include media-breakpoint-up(lg) {
  .main-menu {
		.container {
			width: auto;
			padding: 0;
		}
  }
}

// ≤1200px
@include media-breakpoint-up(xl) {
	
}