
@import "vars";

/*==========  Desktop First  ==========*/

@media (max-width: 1600px) {
  .s-main {
    .laptop {
      right: -100px;
    }
  }
}

@media (max-width: 1400px) {
  .s-main {
    .laptop {
      right: -200px;
    }
  }
}

// ≥1200px
@include media-breakpoint-down(lg) {
	.s-main {
    .laptop {
      display: none;
    }

    .form {
      margin-bottom: 0;
      &:before {
        display: none;
      }
      &__title {
        text-align: center;
      }
      &__content, &__info {
        margin: 0 auto;
      }
    }

    &:after {
      display: none;
    }
  }

  .s-offers {
    .offer {
      margin-bottom: 25px;
    }
  }
}

// ≥992px
@include media-breakpoint-down(md) {
  .hamburger {
    display: block;
  }    

  .header {
    padding: 5px 0;

    &__top {
      margin-bottom: 0;
    }
  }

  .footer {
    text-align: center;

    &__content {
      flex-direction: column;

      & > * {
          margin: 0 0 20px 0 !important;            
      }
    }
  }

	.main-menu {
    display: none;
    background-color: $blue;
    position: fixed;
    top: 62px;
    left: 0;
    right: 0;
    text-align: left;
    margin-left: 0;
    z-index: 98;
    padding: 10px 0;
    border-bottom: 1px solid #fff;

		ul {
			display: block;
			height: auto;
      padding: 0;
      margin: 0;

			li {
        margin: 0 0 5px;

        &:last-child {
          margin: 0;
        }
			}
		}
  }    

  .s-main {
    ul {
      flex-direction: column;
      align-items: center;

      li {
        max-width: 370px;
        width: 100%;
        margin: 0 0 15px;
      }
    }

    .form {
      padding-left: 30px;
      padding-right: 30px;
      &__title {
        font-size: 18px;
      }
    }
  }

  .s-service {
    .cprice {
      margin-bottom: 30px;
    }
  }

  .s-sfera {
    .sfera {
      margin-bottom: 25px;
    }
  }  

  .s-thanks {
    &__img {
      display: none;
    }
  }
}

// ≥768px
@include media-breakpoint-down(sm) {  

  .form {
    &--horizontal {
      .form {
        &__content {
          flex-direction: column;
          max-width: 300px;
        } 
        
        &__info {
          max-width: 300px;
        }
      }

      .input-div {
        margin-right: 0;
      }  
    }

    .input-div, .button {
      width: 100%;
    }
  }

  .srok {
    flex-direction: column;
    font-size: 14px;

    &__title {
      font-family: $default_family;
      font-weight: 600;
    }
  }

  .logo {
    max-width: 200px;
  }

  .header {
    .grow {
      display: block;
    }
  }

  .section {
    &-title {
      font-size: 24px;
      margin-bottom: 30px;
    }      
  }

  .s-main {
    padding-top: 100px;

    &__title {
      font-size: 24px;
    }

    &__text {
      font-size: 20px;
      margin-bottom: 30px;
    }

    ul {
      font-size: 16px;
      font-weight: normal;
      margin-bottom: 30px;
    }

    .form {
      padding-left: 15px;
      padding-right: 15px;
      &__title {
        font-family: $default_family;
      }
      &__info {
        margin-bottom: 20px;
      }
    }
  }

  .s-quiz {
    &__title {
      font-size: 18px;
      margin-bottom: 10px;
    }
  }

  .s-reviews {
    .carousel-reviews {
      padding: 0;
    }
    .review {
      margin: 10px 10px 20px;
      padding: 20px 10px;
      &__img {
        margin-bottom: 10px;
      }
    }
  }

  .s-offers {
    .offer {
      .accent {
        display: none;
      }

      &__select {
        display: table-cell;
      }

      tbody {
        td {
          display: none;
          &.active {
            display: table-cell;
          }
        }
      }
    }
  }
}

// ≥576px
@include media-breakpoint-down(xs) {
  .call-me {
    display: flex;
  }

  .owl-carousel {
    .owl {
      &-prev {
        background-image: url("../img/arrow-left-min.png") !important;
      }
      &-next {
        background-image: url("../img/arrow-right-min.png") !important;
      }
    }
  }

  .s-main {
    padding-bottom: 0;
    .form {
      margin-left: -15px;
      margin-right: -15px;
    }
  }

  .s-account {
    &__content {
      display: none;
    }
    .carousel-account {
      display: block;
      padding: 0 30px;
    }
    .account {
      padding: 70px 10px 15px;
      min-height: 180px;
      margin: 0 10px 20px;
      &__img {
        top: -90px;
      }
      &__num {
        font-size: 36px;
      }
      &__text {
        font-size: 14px;
      }
    }
  }

  .s-trust {
    .carousel-marka {
      padding: 0 35px;
    }
  }

  .s-offers {
    .offer {
      padding: 20px 10px;
      .ellips {
        top: -110px;
        left: -60px;
      }

      &__title {
        font-size: 18px;
        margin-left: 15px;
      }

      &__select {
        select {
          font-size: 13px;
          letter-spacing: -0.5px;
        }
      }

      table {
        th {
          font-size: 13px;
        }
      }

      &__value {
        flex-direction: column;
        &__title {
          margin-bottom: 15px;
        }
      }
    }
  }

  .s-compare {

    thead td {
      display: none;
    }

    &__select {
      display: table-cell !important;
    }

    tbody {
      td {
        display: none;
        &.active {
          display: table-cell;
        }
      }
    }

    table {
      th, td {
        font-size: 14px;
        padding: 5px 0 5px 5px;
      }

      .td-bold {
        font-size: 14px;
      }
    }
  }

  .s-service {
    .cprice {
      &__header {
        padding: 0;
        .cprice__cell2 {
          display: none;
        }
      }
      &__body {
        padding: 0;
      }
      &__row {
        display: block;
      }

      &__cell1 {
        .label {
          margin-bottom: 0;
          &:after {
            display: none;
          }
        }
      }

      &__cell2 {
        text-align: right;
        width: 100%;
      }
    }

    .selected {
      &__title {
        padding: 15px 15px 0;
      }

      &__content {
        margin: 15px;
      }
    }
  }

  .s-question {
    &__text {
      font-size: 18px;
    }

    .form {
      &__input {
        flex-direction: column;
      }
    }
  }

  .s-contact {
    .contact {
      flex-direction: column;
      &__phone {
        margin-bottom: 20px;
      }
    }

    & > ymaps {
      height: 300px !important;
    }
  }

  .s {
    &-thanks {
      padding: 150px 0 50px;
      
      &__title {
        font-size: 30px;
      }

      &__text {
        font-size: 16px;
        margin-bottom: 40px;
      }
    }
  }

  .remodal {
    padding: 20px 10px;
  }

  .politika {
    &__title {
      margin-bottom: 15px;
    }
    &__text {
      margin-bottom: 10px;
    }
  }

  .question-modal {
    .question {
      min-height: 255px;

      &:before {
        left: -10px;
        right: -10px;
        background-size: auto;
      }

      &__text {
        font-size: 15px;
      }
    }
  }
}


/*==========  Mobile First  ==========*/

// ≤576px
@include media-breakpoint-up(sm) {
  
}

// ≤768px
@include media-breakpoint-up(md) {

}

// ≤992px
@include media-breakpoint-up(lg) {
  .main-menu {
		.container {
			width: auto;
			padding: 0;
		}
  }
}

// ≤1200px
@include media-breakpoint-up(xl) {
	
}

@media (min-width: 1920px) {
  .s-main {
    &:after {
      background-size: 100% 100%;
    }
  }

  .s-account {
    background-size: 100% auto;
  }
}